In [1]:
import pandas as pd
import numpy as np
import math

In [27]:
df = pd.read_csv('input_01.csv', header=None, names=['mass'])
df[0] = (df['mass'] / 3).apply(np.floor) - 2
print(int(df[0].sum()))

3256599

In [28]:
df

      mass        0
0    76663  25552.0
1   111378  37124.0
2   132647  44213.0
3   115688  38560.0
4    67473  22489.0
..     ...      ...
95   87833  29275.0
96  131148  43714.0
97   61488  20494.0
98  107938  35977.0
99  116072  38688.0

[100 rows x 2 columns]

In [24]:
df = pd.read_csv('input_01.csv', header=None, names=['mass'])
df[-1] = df['mass']

for i in range(1):
    df[i] = (df[i-1] / 3).apply(np.floor) - 2

df[df < 0] = 0

df

      mass      -1        0
0    76663   76663  25552.0
1   111378  111378  37124.0
2   132647  132647  44213.0
3   115688  115688  38560.0
4    67473   67473  22489.0
..     ...     ...      ...
95   87833   87833  29275.0
96  131148  131148  43714.0
97   61488   61488  20494.0
98  107938  107938  35977.0
99  116072  116072  38688.0

[100 rows x 3 columns]

In [4]:
x = df.sum()

for i in x:
    print(i)

9770504.0
3256599.0
1085303.0
361538.0
120280.0
39860.0
13051.0
4119.0
1136.0
152.0
0.0

In [5]:
3256599.0 + 1085303.0 + 361538.0 + 120280.0 + 39860.0 + 13051.0 + 4119.0 + 1136.0 + 152

4882038.0

In [13]:
fuel = []

with open('input_01.csv') as f:
    for mass in f:
        fuel.append(math.floor(int(mass) / 3) - 2)
        
print(sum(fuel))
print(len(fuel))

3256599
100

In [11]:
all_fuel = fuel
old_list = fuel

# while sum(old_list) > 0:
for i in range(1):
    new_list = []
    for i in old_list:
        ans = math.floor(int(i) / 3) - 2
        if ans < 0:
            ans = 0
    #     print(ans)

#         new_list.append(ans)
        all_fuel.append(ans)
#     old_list = new_list
    
print(sum(all_fuel))

KeyboardInterrupt:

In [14]:
all_fuel = fuel

In [15]:
for i in fuel:
    ans = math.floor(int(i) / 3) - 2
    if ans < 0:
        ans = 0
    all_fuel.append(ans)

KeyboardInterrupt: